body {
    margin-left: 55px;
    margin-right: 55px;
    background: cadetblue;
    color:white;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-family:'Courier New', Courier, monospace; 
}
h2 {
    font-size: 30px;
    text-decoration: underline;
    margin-top:2em;
}
p {
    font-size: larger;
}
.left-side {
    margin-right:40%;
}
.image-left {
    margin-right:55px;
    float: left;
    margin-top: 0px;
}
.right-side {
    text-align: right;
    margin-left:40%
}
.image-right {
    margin-left:55px;
    float:right;
    margin-top:0px;
}