body {
    margin-left: 55px;
    margin-right: 55px;
    background: cadetblue;
    color:white;
}
h1 {
    font-size: 50px;
    text-align: center;
    font-family:'Courier New', Courier, monospace; 
}
h2 {
    font-size: 30px;
    text-decoration: underline;
    margin-top:2em;
}
p {
    font-size: large;
}